.selection-items-container {
    overflow-y: scroll;
    scrollbar-gutter: stable;
}


.search-box {
    padding: 8px;
    border: 0px;
    border-bottom: 1px solid;
}

    .search-box:focus {
        outline: none;
    }

.selection-item {
    position: relative;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s;
}

    .selection-item span {
        display: block;
        overflow: hidden;
    }

    .selection-item img {
        flex-shrink: 0;
        margin-right: 3px;
        object-fit: contain;
        width: 55px;
        height: 55px;
        border-radius: 3px;
    }

.ribbon {
    position: absolute;
    top: 2px;
    left: 2px;
    color: black;
    font-weight: bold;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 9px;
}

    .ribbon.UltraLimitedEdition {
        color: #000000;
        background: linear-gradient(135deg, #FFD700, #FFA500);
    }

    .ribbon.LimitedEdition {
        color: #333333;
        background: linear-gradient(135deg, #E5E4E2, #C0C0C0, #A9A9A9);
    }

    .ribbon.Lumino {
        color: #ffffff;
        background: linear-gradient(135deg, #4A90E2, #8A2BE2);
    }

/*Spinner*/
.loading-container {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2em;
}

.spinner {
    width: 20px;
    height: 20px;
    border: 3px solid;
    border-top: 3px solid;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}