.selection-items-container {
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

.search-box {
    padding: 8px;
    border-bottom: 1px solid;
    border: 0px;
}

    .search-box:focus {
        outline: none;
    }

.selection-item {
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    padding-right:2px;
    cursor: pointer;
    position: relative;    
    transition: 0.2s ease-in-out;
    overflow:hidden;
}

    .selection-item img {
        flex-shrink: 0;
        margin-right: 3px;
        object-fit: contain;
        width: 55px;
        height: 55px;
        border-radius: 3px;
    }

    .selection-item span {
        display: block;
        overflow: hidden;
        flex-grow: 1;
    }

    .selection-item:has(.delete-button:hover) {
        background: linear-gradient(to right, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.4));
    }

.delete-button {
    background: transparent;
    margin-left:auto;
    border: none;
    color: red !important;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

    .delete-button:hover {
        background-color: transparent;
        transform: scale(1.3);
        opacity: 0.8;
    }

.loading-container {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2em;
}

.spinner {
    width: 20px;
    height: 20px;
    border: 3px solid;
    border-top: 3px solid;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.normal-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.size-container {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .size-container span {
        display: none;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}