@page "/"

<PageTitle>Home</PageTitle>

<div class="home-container">
    <section class="main-section">
        <div class="main-section-text">
            <h1>Too many plates? No space in sight?</h1>
            <p>Why risk chaos when you can plan it right!</p>
            <p>
                With <b>DisplatePlanner</b>, you can arrange and visualize your collection before even nailing your next magnet.
            </p>
            <div>
                <a href="/planner" class="startButton">
                    <span>Start Planning Now!</span>
                </a>
            </div>
        </div>
        <div class="hero-video">
            <video autoplay muted loop playsinline>
                <source src="videos/preview.mp4" type="video/mp4" />
                Your browser might not support this video.
            </video>
        </div>
    </section>

    <section class="features-section">     
        <div class="feature">
            <h2> Move, Drag, Rotate & Align</h2>
            <p>
                Arrange your plates exactly how you desire - rotate, align, and preview your wall without any immediate commitment.
            </p>
        </div>
        <div class="feature">
            <h2>Browse both LEs and regular plates</h2>
            <p>Check out upcoming and released LEs alongside regular plates - find your perfect layout.</p>
        </div>
        <div class="feature">
            <h2>Dark mode</h2>
            <p>For those sleepless collectors camping their dream #1 plate - to protect your eyes from flashbangs.</p>
        </div>
        <div class="feature">
            <h2>No Servers, Just Speed</h2>
            <p>DisplatePlanner runs entirely in your browser. Your data stays local, ensuring lightning-fast speed after initial load.</p>
        </div>
    </section>

    <section class="donation-section">
        <div class="donation-text">
            <h3>❤ Like the project?</h3>
            <p>
                DisplatePlanner is a free passion project, made with love. If you’ve found it useful, feel free to support my future work by donating — no pressure at all!
            </p>
        </div>
    </section>
</div>