.planner-page {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    overflow: hidden;
    height: var(--full-page-height);
    max-height: var(--full-page-height);
}

.grid {
    overflow: scroll;
    position: relative;
    width: 100%;    
    touch-action: none;
}

.plate-search-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.collapsible-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    transition: max-width 0.3s ease-out, opacity 0.1s;
    opacity: 1;
    width: 280px;
    max-width: 280px;
    min-height: 0;
}

    .collapsible-container.collapsed {
        max-width: 0;
        opacity: 0;
        pointer-events: none;
    }

.selection-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tab {
    display: flex;
    width: 100%;
    border-bottom: 1px solid;
}

    .tab button {
        flex: 1;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 8px 16px;
        transition: 0.2s;
        font-size: 17px;
    }

.collapse-button {
    border: 0px;
    border-left: 1px solid;
    border-right: 1px solid;
    cursor: pointer;
    transition: 0.2s;
}

.Plate.selected .PlateContainer {
    outline: 2px solid red;
    outline-offset: -2px;
    z-index: 9999; /* Set to a higher value to ensure it's above other plates */
}

*:focus {
    outline: none;
}

.selection-box {
    position: absolute;
    border: 1px dashed;
    background-color: rgba(0, 0, 255, 0.2);
    pointer-events: none;
    z-index: 10001
}

.Plate {
    position: absolute;
    background: black;
    cursor: move;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .Plate.selected {
        background: red;
        z-index: 9999; /* Set to a higher value to ensure it's above other plates */
    }

    .Plate:hover {
        opacity: 0.9;
    }

.grid, .Plate {
    user-select: none;
}

.alignment-line {
    position: absolute;
    background-color: blue;
    z-index: 10000;
}

.icon-container {
    display: flex;
    flex-direction: column;
    border-right: 1px solid;
    touch-action: none;
}

.icon-pair {
    display: flex;
    flex-direction: row;
}

.short-label {
    display: none;
}

@media screen and (max-width: 768px) {
    .full-label {
        display: none;
    }

    .short-label {
        display: inline;
    }
}