    .grid::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .grid::-webkit-scrollbar-thumb {
        background-color: #aaa;
        border-radius: 4px;
    }

    .grid::-webkit-scrollbar-track {
        background-color: #f0f0f0;
    }


.tab {
    display: flex; /* Enables flexbox layout */
    width: 100%; /* Makes sure the container takes up full width */
    background-color: #f1f1f1;
}

    .tab button {
        flex: 1;
        background-color: inherit;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 8px 16px;
        transition: 0.2s;
        font-size: 17px;
    }

        .tab button:hover {
            background-color: #ddd;
        }

        .tab button.active {
            background-color: #ccc;
        }


.collapse-button {
    border: 0px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    cursor: pointer;
    transition: 0.2s;
}

    .collapse-button:hover {
        background-color: #ddd
    }


.Plate.selected .PlateContainer {
    outline: 2px solid red;
    outline-offset: -2px;
    z-index: 9999; /* Set to a higher value to ensure it's above other plates */
}

*:focus {
    outline: none;
}

.selection-box {
    position: absolute;
    border: 1px dashed #000;
    background-color: rgba(0, 0, 255, 0.2);
    pointer-events: none;
    z-index: 10001
}

.Plate {
    position: absolute;
    background: red;
    cursor: move;
    z-index: 0;
    /* centering stuff */
    display: flex;
    justify-content: center;
    align-items: center;
}

    .Plate.selected {
        z-index: 9999; /* Set to a higher value to ensure it's above other plates */
    }

    .Plate:hover {
        opacity: 0.9;
    }

.grid, .Plate {
    user-select: none; /* Prevent selection */
}

.alignment-line {
    position: absolute;
    background-color: blue;
    z-index: 10000; /* Ensure it's above plates but below selected plates */
}