.Plate.selected .PlateContainer {
    outline: 2px solid red;
    outline-offset: -2px;
    z-index: 9999; /* Set to a higher value to ensure it's above other plates */
}

.plate-image {
    width: 100%;
    height: 100%;
}

.main-container {
    display: flex;
    height: 90vh;
    overflow: hidden;
}

*:focus {
    outline: none;
}

.grid {
    border: 1px solid #ccc;
    overflow: scroll;
    position: relative;
    /* change to bigger to enable scroll, have to think how to do it smartly */
    width: 100%;
    height: 100%;
}

    .grid::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .grid::-webkit-scrollbar-thumb {
        background-color: #aaa;
        border-radius: 4px;
    }

    .grid::-webkit-scrollbar-track {
        background-color: #f0f0f0;
    }

.selection-box {
    position: absolute;
    border: 1px dashed #000;
    background-color: rgba(0, 0, 255, 0.2);
    pointer-events: none;
}

.Plate {
    position: absolute;
    background: blue;
    cursor: move;
    z-index: 0;
    /* centering stuff */
    display: flex;
    justify-content: center;
    align-items: center;
}

    .Plate.selected {
        z-index: 9999; /* Set to a higher value to ensure it's above other plates */
    }

    .Plate:hover {
        opacity: 0.9;
    }

.grid, .Plate {
    user-select: none; /* Prevent selection */
}

.alignment-line {
    position: absolute;
    background-color: blue;
    z-index: 10000; /* Ensure it's above plates but below selected plates */
}

.selection-container {
    width: 20vh;
    border: 1px solid #ccc;
    border-left: 0px;
    display: flex;
    flex-direction: column;
}