.layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.topbar {
    border-bottom: 1px solid #ccc;
     padding: 1rem;
}

.main-content {
    flex: 1;
    display: flex; /* Make it a flex container */
    flex-direction: column; /* Optional: if you want vertical stacking inside */
    padding: 1rem;
}

.bottombar {
    border-top: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
}
