@inherits LayoutComponentBase
@inject ThemeService ThemeService;

<div class="layout-wrapper @ThemeService.CurrentTheme-mode">
    <div class="topbar">
        <NavMenu />
    </div>

    <div class="main-content">
        @Body
    </div>

    <div class="bottombar">
        <Footer />
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        ThemeService.OnThemeChanged += StateHasChanged;
    }

    public void Dispose()
    {
        ThemeService.OnThemeChanged -= StateHasChanged;
    }
}

<style>  
    .dark-mode{
        --text: #f9f1f2;
        --background: #070303;
        --primary: #aa4656;
        --secondary: #486529;
        --accent: #378639;
    }

    .white-mode {
        --text: #0e0607;
        --background: #fcf8f8;
        --primary: #ba5666;
        --secondary: #b9d69a;
        --accent: #7ac97c;
    }

    .layout-wrapper {
        --footer-height: 50px;
        --topbar-height: 50px;
        --page-padding: 1rem;
        --full-page-height: calc(100vh - var(--footer-height) - var(--topbar-height) - 3 * var(--page-padding));

        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background: var(--background);
        color: var(--text);
    }

        .layout-wrapper div, a, button, input {
            border-color: var(--primary) !important;
            color: var(--text) !important
        }

        .layout-wrapper input {
            background-color: var(--background);
        }

        .layout-wrapper button{
            background-color: var(--secondary);
        }

        .layout-wrapper button:hover {
            background-color: var(--accent);
        }

            .layout-wrapper button.active {
                background-color: var(--accent);
            }

        .layout-wrapper .nav-links a.active {
            text-shadow: 0 0 5px var(--primary), 0 0 10px var(--primary), 0 0 15px var(--primary); /* Slightly less intense glow */
        }

        .layout-wrapper .selection-item:hover{
            background: var(--secondary)
        }

        .layout-wrapper *::-webkit-scrollbar {
            width: 8px;
            height:8px;
        }

        .layout-wrapper *::-webkit-scrollbar-thumb {
            background-color: var(--primary);
            border-radius: 4px;
        }

        .layout-wrapper *::-webkit-scrollbar-track {
            background-color: var(--secondary);
        }

        .layout-wrapper .brand a{
            font-size: 1.2rem;
            font-weight: bold;
            background: linear-gradient(to right, var(--text) 0%, var(--accent) 100%); /* Left to right gradient */
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
        }

        

    .topbar {
        position: relative; /* Make the topbar the reference for absolute positioning */
        border-bottom: 1px solid;
    }

    .main-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: var(--page-padding);
    }

    .bottombar {
        border-top: 1px solid;
        height: var(--footer-height);        
        padding: 1rem;
        text-align: center;
        font-size: 0.9rem;
    }
</style>