.layout-wrapper {
    display: flex;
    flex-direction: column;
    min-height:100vh;
}

.topbar {
    border-bottom: 1px solid #ccc;
     padding: 1rem;
     height:50px;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    /*padding: 1rem;*/
}

.bottombar {
    height: 50px;
    border-top: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
}
