<nav class="nav-menu" 
@onmouseleave="() => isMenuOpen = false">
    <div class="brand">
        <NavLink href="" Match="NavLinkMatch.All" @onclick="()=> isMenuOpen = false">DisplatePlanner</NavLink>
    </div>

    <!-- Hamburger Icon for small screens -->
    

    <!-- Nav Links -->
    <ul class="nav-links @((isMenuOpen ? "show" : ""))">
        <li>
            <NavLink Match="NavLinkMatch.All" href="" @onclick="()=> isMenuOpen = false">Home</NavLink>
        </li>
        <li>
            <NavLink href="planner" @onclick="()=> isMenuOpen = false">Planner</NavLink>
        </li>
    </ul>

    <div style="margin-left: auto; display:flex; flex-direction:row;align-items: center;">
        <DisplatePlanner.Components.ThemeSelector />
        <button class="hamburger" @onclick="ToggleMenu">☰</button>
    </div>  

    
</nav>


@code {
    private bool isMenuOpen = false;

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
    }
}