<nav class="nav-menu">
    <div class="brand px-3">
        <NavLink href="" Match="NavLinkMatch.All">DisplatePlanner</NavLink>
    </div>
    <ul class="nav-links  px-3">
        <NavLink Match="NavLinkMatch.All" href="">Home</NavLink>
    </ul>
    <ul class="nav-links  px-3">
        <NavLink href="planner">Planner</NavLink>
    </ul>
    @* <ul class="nav-links  px-3">
        <NavLink href="help">Help</NavLink>
    </ul> *@
</nav>